@import 'libs/breakpoints';

// Breakpoints.
@include breakpoints(
  (
    xlarge: (
      1281px,
      1680px,
    ),
    large: (
      981px,
      1280px,
    ),
    medium: (
      737px,
      980px,
    ),
    small: (
      481px,
      736px,
    ),
    xsmall: (
      null,
      480px,
    ),
  )
);

.header-container {
  height: 3em;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

img.header-icon {
  align-self: center;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

img#my-request-logo {
  position: relative;
  bottom: 80px;
  height: 170px;
  width: 300px;
}

div.align-center {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

div.slogan-container,
div.mission-container {
  display: flex;
  flex-direction: row;
  align-self: center;
}

div.left-slogan {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.right-slogan {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

p.slogan {
  align-self: center;
}

img#half-note {
  height: 50px;
  width: 40px;
  padding-right: 3px;
  position: relative;
  bottom: 25px;
  right: 10px;
}

img#eighth-note {
  height: 50px;
  width: 40px;
  transform: rotate(5deg);
  position: relative;
  bottom: 5px;
  left: 5px;
}

.magnifier {
  display: block !important;
}

div.mission-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

img#double-eighth-note {
  height: 68px;
  width: 60px;
  transform: rotate(-10deg);
}

.primary-color {
  background-color: #3f51b5 !important;
}

div.app-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

a.performer-app-button {
  margin-right: 15px;
}

div.app-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

a.performer-app-button {
  margin-right: 15px;
}

div.join-beta-button {
  align-self: center;
  margin-left: 34px;
}

a#copyright-anchor {
  text-decoration: none !important;
  border-bottom-color: transparent;
}

a#copyright-anchor:link {
  text-decoration: none !important;
}

a#copyright-anchor:visited {
  text-decoration: none !important;
}

a#copyright-anchor:hover {
  text-decoration: none !important;
}

a#copyright-anchor:active {
  text-decoration: none !important;
}

img#copyright {
  height: 90px;
  width: 247px;
}

.style3 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

h2.no-events-message {
  margin-bottom: 0px;
}

@include breakpoint('>=xlarge') {
  img#my-request-logo {
    height: 250px;
    width: 441px;
  }
}

@include breakpoint('<=medium') {
  img#half-note {
    right: 0px;
  }

  img#eighth-note {
    left: 0px;
  }

  img#copyright {
    height: 45px;
    width: 122px;
  }

  div.mission-left {
    margin-left: 60px;
  }
}

@include breakpoint('<=small') {
  img#my-request-logo {
    height: 140px;
    width: 256px;
  }

  div.app-buttons-container {
    flex-direction: column;
  }

  a.performer-app-button {
    margin-right: 0px;
    align-self: center;
  }

  a.requester-app-button {
    margin-top: 15px;
    align-self: center;
  }
}

@media screen and (max-width: 1682px) {
  div.remove-unnecessary-space {
    margin-bottom: -7px;
  }
}

@media screen and (min-width: 981px) and (max-width: 1375px) {
  #performer {
    position: relative;
    right: 30px;
  }

  #performer-client {
    position: relative;
    left: 30px;
  }
}

// privacy policy rules
section.privacy-policy-section {
  padding-left: 1em;
  padding-right: 1em;
}

div.privacy-policy {
  p.revised-date {
    color: rgba(38, 32, 32, 0.75) !important;
    font-weight: 600;
  }
  h1 {
    color: #2e3842;
    font-size: 1.2em !important;
  }

  h2 {
    color: rgba(38, 32, 32, 0.75) !important;
    font-size: 1em !important;
  }
  table td {
    padding: 20px 5px;
  }
}

@include breakpoint('<=medium') {
  div.privacy-policy {
    padding-top: 20px;
  }
}
